/* Primitives */
:root {
  --globalBackground: #fff;
  --globalBackgroundOpaque: #fff;
  --globalSecondaryBackground: #f1f1f1;
  --globalTertiaryBackground: #dad8d6;
  --globalAccentBackground: #fff;
  --globalSecondaryAccentBackground: #f8f8f8;
  --globalSiteBackground: #f8f8f8;
  --subtleButtonBackground: #e7e6e5;
  --globalBorder: rgba(0, 0, 0, 0.1);
  --globalGray: #dad8d6;
  --globalGraySoft: #f1f1f1;
  --globalColorThemeFull: #312e2b;
  --globalColorThemeHigh: #4b4847;
  --globalColorThemeMid: #666564;
  --globalColorThemeLow: #8b8987;
  --globalColorThemeLower: #bebdb9;
  --globalColorThemeLink: #3a729c;
  --globalColorThemeBlueToWhite: #0b5987;
  --globalColorThemeBlueToMid: #3a729c;
  --globalColorThemeBlueToMidHover: rgba(58, 114, 156, 0.8);
  --globalColorThemeBlueToHigh: #3a729c;
  --globalColorThemeBlueToHighHover: rgba(58, 114, 156, 0.8);
  --globalColorThemeHighToMid: #4b4847;
  --globalColorThemeFullToMid: #312e2b;
  --globalColorNeutral50: #f8f8f8;
  --globalColorNeutral100: #f1f1f1;
  --globalColorNeutral200: #dad8d6;
  --globalColorNeutral300: #bebdb9;
  --globalSecondaryFont: 'Montserrat', sans-serif;
  --easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);
  --globalOverlayBackground: #f1f1f1;
  --globalWindowPadding: 1.6rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --globalBackground: rgba(0, 0, 0, 0.2);
    --globalBackgroundOpaque: #262421;
    --globalSecondaryBackground: rgba(0, 0, 0, 0.14);
    --globalTertiaryBackground: rgba(0, 0, 0, 0.18);
    --globalAccentBackground: hsla(0, 0%, 100%, 0.14);
    --globalSecondaryAccentBackground: hsla(0, 0%, 100%, 0.05);
    --globalSiteBackground: #312e2b;
    --subtleButtonBackground: hsla(0, 0%, 100%, 0.16);
    --globalBorder: hsla(0, 0%, 100%, 0.1);
    --globalGray: hsla(0, 0%, 100%, 0.08);
    --globalGraySoft: hsla(0, 0%, 100%, 0.08);
    --globalColorThemeFull: #fff;
    --globalColorThemeHigh: hsla(0, 0%, 100%, 0.85);
    --globalColorThemeMid: hsla(0, 0%, 100%, 0.72);
    --globalColorThemeLow: hsla(0, 0%, 100%, 0.5);
    --globalColorThemeLower: hsla(0, 0%, 100%, 0.2);
    --globalColorThemeLink: #52b1dc;
    --globalColorThemeBlueToWhite: #fff;
    --globalColorThemeBlueToMid: hsla(0, 0%, 100%, 0.72);
    --globalColorThemeBlueToMidHover: hsla(0, 0%, 100%, 0.85);
    --globalColorThemeBlueToHigh: hsla(0, 0%, 100%, 0.85);
    --globalColorThemeBlueToHighHover: #fff;
    --globalColorThemeHighToMid: hsla(0, 0%, 100%, 0.72);
    --globalColorThemeFullToMid: hsla(0, 0%, 100%, 0.72);
    --globalColorNeutral50: rgba(0, 0, 0, 0.1);
    --globalColorNeutral100: rgba(0, 0, 0, 0.2);
    --globalColorNeutral200: rgba(0, 0, 0, 0.4);
    --globalColorNeutral300: rgba(0, 0, 0, 0.6);
    --globalOverlayBackground: #262421;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, system-ui, Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.43;
  touch-action: manipulation;
  background-attachment: fixed;
  background-color: #51504d;
  background-image: url(https://images.chesscomfiles.com/uploads/v1/theme/101305-0.2651045e.jpeg);
  background-position: center center;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  color: var(--globalColorThemeFull);
  padding: var(--globalWindowPadding);
}

[v-cloak] {
  display: none;
}
